extends ../../layouts/default

block main 
  if(account.role.permissions.includes("roles_view"))
    if(role.title)
      div(class="mb-4") Tên quyền : <b>#{role.title}</b>

    if(role.description)
      div(class="mb-4") Mô tả : <b>!{role.description}</b>
